*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  outline: none;
}

body {
  background-color: #8a51fc;
  padding:20px 0;
}

.logo{
  width: 300px;
  margin: 0px auto;
  display: block;
}

main{
  width: 375px;
  border-radius: 20px;
  background: #E5E5E5;
  margin: 20px auto;
  padding: 44px 24px 24px;
}

label{
  color: #777777;
  font-size: 14px;
}

select, input{
  background: #FFFFFF;
  border: 1px solid #BBBBBB;
  border-radius: 4px;
  height: 48px;
  width: 100%;
  margin-bottom: 24px;
  appearance: none;
  padding-left: 18px;
  font-weight: 700;
  font-size: 16px;
  color: #555555;
}

button{
  background: #772FD3;
  border-radius: 5px;
  border: none;
  height: 48px;
  width: 100%;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;

  cursor: pointer;
}

button:hover{
  opacity: 0.8;
}

button:active{
  opacity: 0.6;
}

section {
  border: 1px solid #772FD3;
  border-radius: 20px;
  margin-top: 36px;
  padding: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

section div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
p {
  color: #777777;
}
.currency-value-to-convert, .currency-value{ 
  font-weight: 700;
  font-size: 20px;
  color: #555555;
}